* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// Fixes safari layout bug on /apply
.container:before,
.container:after {
  display: inherit;
}

html,
body {
  color: #2C3E50; // dark-gray
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

strong {
  font-weight: 600;
}

a {
  color: #187BE5; //bp-blue
}
