.rlc-gradient {
  background: linear-gradient(
    to bottom,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  );
}

.ogsc-gradient {
  background: linear-gradient(
    to bottom,
    rgba(20, 231, 168, 0.5) 0%,
    rgb(20, 231, 150) 100%
  );
}

.unloop-gradient {
  background: linear-gradient(
    to bottom,
    rgba(231, 122, 20, 0.5) 0%,
    rgb(231, 164, 20) 100%
  );
}

.lavamae-gradient {
  background: linear-gradient(
    to bottom,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  );
}

.nbjc-gradient {
  background: linear-gradient(
    to bottom,
    rgba(202, 230, 49, 0.692) 0%,
    rgb(170, 185, 31) 100%
  );
}

.roots-gradient {
  background: linear-gradient(
    to bottom,
    rgba(16, 62, 110, 0.3) 0%,
    rgba(12, 62, 110, 1) 100%
  );
}

.wecaresolar-gradient {
  background: linear-gradient(
    to bottom,
    rgba(185, 56, 56, 0.3) 0%,
    rgb(182, 41, 41) 100%
  );
}

.alemany-gradient {
  background: linear-gradient(
    to bottom,
    rgba(119, 189, 150, 0.5) 0%,
    rgb(29, 121, 67) 100%
  );
}

.siren-gradient {
  background: linear-gradient(
    to bottom,
    rgba(185, 56, 56, 0.3) 0%,
    rgb(182, 41, 41) 100%
  );
}

.sundayfriends-gradient {
  background: linear-gradient(
    to bottom,
    rgba(141, 171, 211, 0.692) 0%,
    rgb(61, 69, 172) 100%
  );
}

.cnsc-gradient {
  background: linear-gradient(
    to bottom,
    rgba(185, 56, 56, 0.3) 0%,
    rgb(182, 41, 41) 100%
  );
}

.v4v-gradient {
  background: linear-gradient(
    to bottom,
    rgba(119, 189, 150, 0.5) 0%,
    rgb(29, 121, 67) 100%
  );
}

.culturalsurvival-gradient {
  background: linear-gradient(
    to bottom,
    rgba(202, 230, 49, 0.692) 0%,
    rgb(170, 185, 31) 100%
  );
}

.bsc-gradient {
  background: linear-gradient(
    to bottom,
    rgba(141, 171, 211, 0.692) 0%,
    rgb(61, 69, 172) 100%
  );
}

.ocf-gradient {
  background: linear-gradient(
    to bottom,
    rgba(50, 80, 38, 0.315) 0%,
    rgb(49, 78, 37) 100%
  );
}

.jdi-gradient {
  background: linear-gradient(
    to bottom,
    rgba(227, 127, 28, 0.316) 0%,
    rgb(227, 127, 28) 100%
  );
}

.ace-gradient {
  background: linear-gradient(
    to bottom,
    rgba(23, 165, 68, 0.36) 0%,
    rgb(4, 114, 187) 100%
  );
}

.breadandroses-gradient {
  background: linear-gradient(
    to bottom,
    rgba(231, 60, 48, 0.351) 0%,
    rgb(231, 61, 48) 100%
  );
}

.trapgarden-gradient {
  background: linear-gradient(
    to bottom,
    rgba(11, 148, 68, 0.337) 0%,
    rgb(11, 148, 68) 100%
  );
}
